---
layout: default
---

{% capture index %}{% include index.md %}{% endcapture %}
{{ index | markdownify }}


<section id="repositories">
  <h2>Support</h2>
  <ul class="repo-list group">
    <li class="list-icon">
      <img src="assets/img/patreon.png" width="25px" alt="">
    </li>
    <li>
      <a href="https://www.patreon.com/m/mimic_tools">
        <h4>Patreon</h4>
        <p>Support our development and access more content!</p>
      </a>
    </li>
    <li class="list-icon">
      <img src="assets/img/discord.png" width="25px" alt="">
    </li>
    <li>
      <a href="https://discord.gg/WttenG">
        <h4>Discord</h4>
        <p>Join our chat server for feature support and suggestions</p>
      </a>
    </li>
  </ul>
</section>

{% if site.repos %}
<section id="repositories">
  <h2>Repositories</h2>
  <ul class="repo-list group">
    <li class="list-icon">
      <img src="assets/img/octocat.png" width="25px" alt="">
    </li>
    {% for repo in site.repos %}
      <li>
        <a href="{{ repo.url }}">
          <h4>{{ repo.name }}</h4>
          <p>{{ repo.description }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<div id="home">
  <h2>Posts</h2>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date_to_string }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
